
@font-face {
    font-family: 'SutonnyMj';
	src: url('../fonts/SutonnyMj.ttf'),
		 url('../fonts/sutonnymj.woff2') format('woff2'),
    	 url('../fonts/sutonnymj.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.keyboard {
	font-family: 'SutonnyMj';
}

